html,
body {
    height: 100%;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 250px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 20px;
}

h2 {
    margin: 0;
    padding-top: 40px;
    font-weight: unset;
    font-family: 'Times New Roman';
}

main {
    width: 100%;
    height: calc(100% - 190px - 134px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section {
    height: 100px;
    width: 80%;
    background-color: rosybrown;
}

aside {
    width: 80%;
    height: 200px;
    background-color: slategray;
}

footer {
    background-color: black;
    width: 100%;
    height: 54px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    color: white;
}